section.log
    .container
        .log__wrapper
            form#log-in-form.log__form
                h1.log__title
                    | Добро пожаловать
                input.log__field.form-control(type="text" required="true" placeholder="Введите логин")
                input.log__field.form-control(type="password" required="true" placeholder="Введите пароль")
                input.log__submit.btn.btn-primary(type="submit" value="вход")
                p
                    | Еще не зарегистрированы?
                    a(href="/registration.html")
                        |  Зарегистрируйтесь
