section.log
    .container
        form#reg-form.log__form.log__form--reg
            h1.log__title
                | Заполните пожалуйста все поля
            label.log__label
                | имя пользователя
            input.log__field.form-control#reg-name(type="text" name="name" required="true" placeholder="Введите Ваше Имя")
            label.log__label
                | электронная почта
            input.log__field.form-control#reg-mail(type="text" name="email" required="true" placeholder="Введите Ваш email")
            label.log__label
                | номер телефона
            input.log__field.form-control#reg-phone(type="text" name="phone" required="true" placeholder="Введите номер телефона")
            label.log__label
                | пароль (не менее 6-ти символов)
            input.log__field.form-control#reg-pass(type="password" name="pass" required="true" placeholder="Введите пароль")
            label.log__label
                | повтор пароля
            input.log__field.form-control#reg-conf-pass(type="password" required="true" placeholder="Повторите пароль")
            input.log__submit.btn.btn-primary(type="submit" value="зарегистрироваться")