section.log
    .container
        .user
            .user__item
                span.user__avatar
                .user__descr
                    .user__descr--element
                        span.user__descr--title
                            | Имя
                        span.user__descr--val
                            | Иван
                    .user__descr--element
                        span.user__descr--title
                            | Email
                        span.user__descr--val
                            | mail@mail.com
                    .user__descr--element
                        span.user__descr--title
                            | Номер телефона
                        span.user__descr--val
                            | +447008565632
            button.btn.btn-primary(type="button")
                | Выход